
<nav class="header">
  <h1 class="travel">TRAVEL SITE</h1>
  <h1>  <a routerLink="/home" routerLinkActive="active" class="home">Home   </a>
    <a routerLink="/destination" routerLinkActive="active" class="home">Destinations  </a>
    <a routerLink="/about" routerLinkActive="active" class="home">About  </a>
    <a routerLink="/contact" routerLinkActive="active" class="home">Contact  </a>
  </h1>

</nav>

<router-outlet></router-outlet>

<h1 class="tral">Welcome to the Travel website</h1>
<p class="para">Choose from over 1.2 million hotels in more than 200 countries, 30 million real guest reviews. Book flights to over 5000 destinations worldwide.</p>

<div>
  <h1>Sign in</h1>
  <form>
    <label>email</label>
    <input [(ngModel)]="email" placeholder="email id" [ngModelOptions]="{standalone: true}"/>
    <label>password</label>
    <input placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
    <button (click) = "login()" >SIGN IN</button>
  </form>
</div>

