
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/destination" routerLinkActive="active">Destinations</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
</nav>
<router-outlet></router-outlet>

<div>
  <h1>Sign in</h1>
  <form>
    <label>email</label>
    <input [(ngModel)]="email" placeholder="email id" [ngModelOptions]="{standalone: true}"/>
    <label>password</label>
    <input placeholder="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
    <button (click) = "login()" >SIGN IN</button>
  </form>
</div>

